<div class="header">
    <div class="container">
        <div class="header__list">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item"><a class="menu__list-link" href="./signIn.hbs">SIGN IN</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href="./signUp.hbs">SIGN UP</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href="./chat.hbs">CHAT</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href="./settings.hbs">SETTINGS</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href="./error4.hbs">ERROR 404</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href="./error5.hbs">ERROR 5**</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
