<div class="chat-right__messages-box">
    {{!-- <div class="message my-message">
        <p>Lorem ipsum dolor sit amet consectetur.<span>13:02</span> </p>
    </div>
    <div class="message companion-message">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.<span>13:07</span> </p>
    </div>
    <div class="message companion-message">
        <p>Lorem, ipsum dolor.<span>13:08</span> </p>
    </div>
    <div class="message companion-message">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, dolores assumenda sunt sequi voluptas quis facilis autem asperiores officia eveniet illo placeat ipsum odit ut eos eligendi!<span>13:16</span> </p>
    </div>
    <div class="message companion-message">
        <p>Lorem ipsum dolor sit amet consectetur.<span>13:19</span> </p>
    </div>
    <div class="message my-message">
        <p>Lorem, ipsum.<span>13:21</span> </p>
    </div> --}}

</div>
