.form__settings-avatar {
    .avatar-input{
        width: .1px;
        height: .1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    img {
        display: block;
        width: 130px;
        cursor: pointer;
        margin: 0 auto 38px;
    }
}

