<div class="chat-left">
    <div class="chat-left__header">
        <div class="chat-left__search">
            <div>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="chat-left__chatlist">
        {{> "chatListConversation/chatListConversation" displayName="Name LastName" message="Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet." time="20:09" unread="1"}}
        {{> "chatListConversation/chatListConversation" displayName="Another Name" message="Lorem ipsum dolor sit amet." time="11:44"}}
        {{> "chatListConversation/chatListConversation" displayName="Third Name" message="Lorem ipsum dolor." time="14:27"}}
    </div>
    
</div>
<div class="chat-right">
    <div class="chat-right__header">
    </div>
    {{> "messagesBox/messagesBox"}}
    {{!-- {{> "inputBox/inputBox"}} --}}
</div>
