<div class="chat-right__input-box">
    <img class="clip" src="../../asserts/clip.svg" alt="clip">
    <input type="text" name="message" placeholder="Message...">
    <img class="inputArrow" src="../../asserts/inputArrow.svg" alt="inputArrow">
</div>
