<div class="conversation">
    <div class="conversation__avatar">
        <div class="avatar"></div>
    </div>
    <div class="conversation__datails">
        <div class="conversation__datails-top">
            <p>{{ displayName }}</p>
            <p class="time">{{ time }}</p>
        </div>
        <div class="conversation__datails-bottom">
            <p>{{ message }}</p>
        </div>
    </div>
</div>
