{{!< desktop}} 


<div class="form-box">
    <form action="#" class="form">
        <h3 class="form__title">sign up</h3>

        {{> 'input/input' title='name' name='first_name' type='text'}}
        {{> 'input/input' title='last name' name='second_name' type='text'}}
        {{> 'input/input' title='login' name='login' type='text'}}
        {{> 'input/input' title='password' name='password' type='password'}}
        {{> 'input/input' title='email' name='email' type='text'}}
        {{> 'input/input' title='phone' name='phone' type='number'}}

        {{> 'button/button' title='sign un' link='./signIn.hbs' link_name='sign in'}}

    </form>
</div>
