{{!< desktop}} 

<div class="form-box">
    <form action="#" class="form">
        <fieldset>
            <h1 class="form__title">sign in</h1>
            {{> 'input/input' title='login' name='login' type='text'}}
            {{> 'input/input' title='password' name='password' type='password'}}

            {{> 'button/button' title='sign in' link='./signUp.hbs' link_name='create account'}}
        </fieldset>
    </form>
</div>
