{{!< desktop}} 

<div class="form-box">
    <form action="#" class="form">
        <h3 class="form__title">sign in</h3>
        {{> 'input/input' title='login' name='login' type='text'}}
        {{> 'input/input' title='password' name='password' type='password'}}

        {{> 'button/button' title='sign in' link='./signUp.hbs' link_name='create account'}}
    </form>
</div>