<div class="container">
    <div class="form-box">
        <form action="#" class="form">
            <fieldset>
                <h1 class="form__title">sign in</h1>
                \{{{Input title="login" name="login" type="text"}}}
                \{{{Input title="password" name="password" type="password"}}}
                \{{{Button title="sign in" link="#" link_name="create account"}}}
            </fieldset>
        </form>
    </div>
</div>
