@import '../../styles/variables.scss';

.form-btn {
    &__link {
        width: 100%;
        background-color:transparent;
        border: none;
        cursor: pointer;
        font-size: 11px;
        text-transform: uppercase;
        color: #0878A4;
        text-align: center;
        font-weight: 300;
    }
}
